header {
  /* background-color:#FABB51; */
  opacity: 0.0 - 1.0;
  height: 400px;
  background-color: #e08600;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

}
.image {
  display: flex;
  justify-content: center;
}
.name{
  display: flex;
  flex: 1;
  justify-content: center;
  color: #FFFFFF;
}