/* CSS for top navbar with icon form
fontawesome  */

nav {
  background-color: #4056A1;
  height: 120px;
  color: #FFFFFF;
  display: flex;
  padding-left: 1.5em;
  padding-top: 1.5em;
}
.logo {
  font-family: Bungee;
  font-size: 2em;
  width: 70%;
}
#arrow{
  color: red;
  display: absolute;
  animation: MoveUpDown 1s linear infinite;
  }

.logo-right{
  flex: 1;
    vertical-align: top;
    display: inline-block;
    text-align: center;

  }
 
  .p-class{
    display: block;
  }
/* Makes responsive page layout */
  @media only screen and (max-width: 480px){
    .logo-right{
      display: none;
    }
    .Writenew{
      visibility: hidden;
display: none;
    }

    .logo {
      font-size: 1.5em;
    }

    
  }