nav {
  background-color: #4056A1;
  height: 120px;
  color: #FFFFFF;
  /* font-family: sans-serif; */
  display: flex;
  padding-left: 1.5em;
  padding-top: 1.5em;
}
.logo {
  font-family: Bungee;
  font-size: 2em;
  width: 70%;
}
i{
  color: red;
  display: absolute;
  }

.logo-right{
  flex: 1;
    vertical-align: top;
    display: inline-block;
    text-align: center;

  }
  
  .p-class{
    display: block;
  }