
button{
  font-family: Bungee;
  background-color: #4056A1;
  color: #FFFFFF;
}
textarea
{
  outline: 0;
  border-width: 0 0 2px;
  border-color: gray;
  font-family: sans-serif;
  width: 600px;
  font-size: 14px;
}
output{
  /* flex: 1; */
  display: absolute;
  float: right;
  font-family: Bungee;
}
.red{
  color:red;
}

.tweet:hover .icons{
  visibility: visible;
}

.tweet .icons {
  visibility: hidden;
  float:right;
}