
button{
  font-family: Bungee;
  background-color: #4056A1;
  color: #FFFFFF;
}
textarea
{
  outline: 0;
  border-width: 0 0 2px;
  border-color: gray;
  font-family: sans-serif;
  width: 100%;
  font-size: 14px;
}
output{
  /* flex: 1; */
  /* display: absolute; */
  float: right;
  font-family: Bungee;
}
.red{
  color:red;
}


@media all and (max-width: 320px) and (max-width: 438px){
  .compose{
    font-size: 18px;
  }
  textarea{
    font-size: 14px;
  }
  .tweetButton{
    font-size: 14px;
  }
  .tweet-text{
font-size: 18px;
  }
  .counter{
    font-size: 18px;
  }
}