
article.tweet-article{
  border: 2px solid #141a19;
  border-radius: 15px;
  background-color: white;
  margin: 9px;
}
p.tweet-content{
  font-family: sans-serif;
  font-size: 18px;
}
header.tweet-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #ececec;
  height: 3em;
}

h2.tweetname {
  display: inline-block;
  vertical-align: top;
  font-size: 26px;
}

span.username {
  float: right;
  margin: 20px 10px;
  color: grey;
  font-size: 20px;
}

img.tweet-image {
  max-width: 100%;
  height: auto;
  margin: 10px;
  display: inline-block;
}
footer.tweet-footer {
  border-top: 1px solid;
  background-color: white;
  padding: 10px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


i.fas:hover {
  color: #a00008;
}
i{
  font-size: 14px;
}

span.tweet-footer-content{
  float: right;
  font-size: 14px;
  font-family: sans-serif;
}

@media only screen and (max-width: 320px) and (max-width: 438px){
  
  
  .tweet-image {
    width: 50px;
  }
  .tweetname { 
    font-size: 18px;
  }
  .username { 
    font-size: 14px;
  }
  .tweet-content{ 
    font-size: 14px;
  }
} 