article{
  opacity:0.5;
  border: .5px solid black;
  border-radius: 10px;
  padding: 2px 1px 20px 2px;

  width:70%;
  display:inline-block;
  background-color: lightgrey;
  margin-top: 20px;
}

article:hover {
  opacity:1;
}

.avatar {
  height:60px;
  width:60px;
  float:left;
  padding: 5px;
}

.tweeterName {
  font-size:1.5em;
  font-weight:600;
  text-align: left;
}

.userTwee{
  font-size:1em;
  padding: 0px 5px;
  float:right;
}

.tweeBody{
  background-color: white;
  width:100%;
  float:left;
  padding: 0px 5px;
  word-break: break-all;
}

.username{
  font-weight: 300;
  float:right;
  padding:0px 0px 0px 10px;
  line-height:1em;
  font-size:.75em;
}

footer{
  width: 100%;
  float:left;
  padding: 0px 10px;
}